*{
  box-sizing: border-box;
}

html{
  background: white;
  color: black;
  font-family: 'Lato', sans-serif;
  margin-left: 6%;
  margin-right: 6%;
}

header{
  background: white;
  padding: 5px;
}

.volumental_logo{
  float: left;
  display: block;
  width: 100px;
  margin: 10px;
}

ul{
  list-style: none;
  display: flex;
  float: right;
  background: pink;
  vertical-align: middle;
}

li{
  margin: 10px;
}

a{
  color: black;
  text-decoration: none;
  font-weight:700;
  letter-spacing: 3px;
  font-size: 15px;
}

.hero-image{
  margin-left: 0;
  margin-right: 0;
  display: block;
  background: lightblue;
  text-align: center;
}

.hero-image-inner img{
  margin-left: auto;
  margin-right: auto;
  background: lightpink;
  height: 540px;
  opacity: 1
}

.clear {
  clear: both;
}
