form {
  margin: 50px;
  padding: 20px;
  background: blue;
}

label {
  font-family: sans-serif;
}

.field {
.actions {
  padding 10px;
}

input: valid {
  border: 2px solid green;
}

input: invalid {
border: 2px solid red;
}

button {
  font-size: 16px;
  padding: 5px 20px;
  border: none;
  backround: yellow;
}
